.section_5{
    width: 100%;
    height: 663px;
}

.our_story{
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    background-color: white;
    color: #1946a9;
    margin: 250px 0 70px 0 ;
}


.our_story_bg{
    width: 100%;
    height: 506px;
    background-image: url(../../img/slide_bg.png);
    display: flex;
    justify-content: center;
}

.swiper{
    width: 1420px;
    height: 100%;
}

.con_wrap{
    padding-top: 15px;
}