.section_3{
    width: 100%;
    height: 859px;
    margin-bottom: 70px;
}

.best_logo{
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 800;
    color: #1946a9;
    margin: 250px 0 70px 0 ;
}

.best_bg{
    width: 100%;
    height: 700px;
    background-image: url(../../img/Best\ Items_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 250px;
}

.best_category{
    width: 1420px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.best_category .box_icon_1{
    font-size: 30px;
}

.best_category .best_box_1{
    width: 280px;
    height: 355px;
    margin: 0 80px 0 121px;
}

.best_category .best_box_1 .box_img{
    width: 280px;
}

.best_category .best_box_1 h3{
    font-size: 20px;
    font-weight: 600;
    color:#1d1d1d;
    text-align: center;
    margin-top: 6px;
}

.best_category .best_box_2{
    width: 447px;
    height: 558px;
}

.best_category .best_box_2 .box_img_2{
    width: 446px;
    height: 507px;
    background-repeat: no-repeat;
}

.best_category .best_box_2 h3{
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1d;
    text-align: center;
    margin-top: 13px;
}

.best_category .best_box_3{
    width: 283px;
    height: 355px;
    background-repeat: no-repeat;
    margin: 0px 116px 0px 93px;
}

.best_category .best_box_3 .box_img_3{
    width: 280px;
    background-repeat: no-repeat;
}

.best_category .best_box_3 h3{
    font-size: 20px;
    font-weight: 600;
    color: #1d1d1d;
    text-align: center;
    margin-top: 7px;
}

.best_category .box_icon_2{
    font-size: 30px;
}